<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trip sharing</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">My trips</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </nav>
        <div>
            <ul>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>