{% extends "layout.html" %}
{% block main %}

<div class="card p-4" style="width: 50vw;">
    <form action="{{ url_for('login') }}" method="post">
        <label for="name">Name
            <input required type="text" name="name" id="name" placeholder="your name">
        </label>

        <br>
        <label for="password">Password
            <input required type="text" name="password" id="password" placeholder="your password">
        </label>

        <br>

        <input type="submit" class="btn btn-primary" value="Sign in">

    </form>
</div>

{% endblock %}